body{
  background-color: #959da0;
}
.head_section .title_part h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 58px;
    text-shadow: 10px 10px 10px #AC252F;
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 160px;
    font-weight: 800;
    color: white;
    font-weight: 600;
}
.head_section .nav_div .head_nav .head_ul {
    position: absolute;
    left: 450px;
    top: 100px;
 
}
.head_section .nav_div .head_nav .head_ul li {
    
    display: inline;
    padding: 50px;
    font-family: 'Tangerine', serif; 
    text-shadow: 8px 8px 8px #AC252F;
    font-size: 30px; 
    color: white;
    font-weight: 600;
  
}
.head_section .nav_div .head_nav .head_ul .nav_link{
    text-decoration: none;
    color: inherit;
  
}
.head_section .nav_div .head_nav .head_ul li:hover{
    font-size: 40px;
    text-shadow: 8px 8px 8px #AC252F;
}
.head_section{
    background-color: #4C8588;
    height: 600px;
}
.btn_add_me .btn_link{
   position: absolute;
   right: 100px;
   top:65px;
   display:inline-block;
   border:0.1em solid #4C8588;
   margin:0 0.3em 0.3em 0;
   box-sizing: border-box;
   text-decoration:none;
   font-family:fantasy;
   font-weight:500;
   color:#4C8588;
   text-align:center;
   background-color: black;
   height: 50px;
   line-height: 50px;
   width: 100px;
   font-size: 15px;
}
.btn_add_me .btn_link:hover{
    
    background-color: #0f1818aa;
    
   
}

/* footer */
.footer-dark {
    padding:20px 0;
    color:#f0f9ff;
    background-color:#282d32;
    margin-bottom: 0px;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    /* margin:0 8px; */
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    /* padding-top:24px; */
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  .container1{
    margin-left: 450px;
    margin-top: 10px;
    text-align: center;
    width: 500px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .footer-dark{
    margin-top: -20px;
  }
  /*header  */
 a{
  text-decoration:none
}
.header{
  background-image: url(https://image.freepik.com/free-photo/blurred-background-blur-group-people-team-meeting-co-working-space_7190-9.jpg);
  background-repeat: no-repeat;
  background-size: 1450px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:500px; 
}

.logo{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  align-content:center;
  padding: 40px;
  font-weight:1000;
  font-size:30px;
  line-height:10;
  box-sizing:border-box;
  height:40px;
  position: absolute;
  top: 12px;
  right: 20px;
}
.nav_link{
   color: white;
   margin-left: 50px;
   text-shadow:0 6px 13px rgb(103, 6, 6);
  }

  /* our informatio into main*/

.container{
  width: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;  
  margin-left: 85px; 
  
  
}

.container .card{
  
  cursor: pointer;
  margin: 12px; 
  
}

.container .card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
  border-radius: 2%;
  
}

.container .card .face.face1{
  position: relative;
  background: rgb(196, 176, 176);
  display: flex;
  text-shadow: 3 3 black;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  height: 400px;
}

.container .card:hover .face.face1{
  background: #aa0f0f;
  transform: translateY(0);
  opacity: 0.4;
  
}

.container .card .face.face1 .content{

  transition: 0.5s;
background: none;
}


.container .card .face.face1 .content img{
  width: 250px;
  height: 250px;
  
}

.container .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
  height: 100px;
  
}

.container .card .face.face2 .content p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: #AC252F;
  line-height: 40px;
}
.container .card .face.face2 .content h5{
  line-height: 25px;
  font-size: 17px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.container .card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
  background: rgb(145, 17, 17);
  color: #fff;
  opacity: .9;
}
.second_div{
  display: block;
  margin-left: 220px;
}